body {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-family: sans-serif;
}
#root {
  padding-top: 90px;
}
.btn-status {
  margin-left: 5px;
}
.navbar-turquoise{
  background-color: #0d87e9;
}
nav a {
  color: #fff;
}
